html,
body {
  height: 100%;
  color: white;
  font-family: sans-serif;
}

body {
  background-color: black;
  margin: 0 auto;
}

.container {
  position: relative;
  top: 5%;
  flex-direction: column;
  display: flex;
  padding: 5%;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 5%;
  overflow: hidden;
  letter-spacing: 2px;
  white-space: nowrap;
}

h2 {
  font-size: 1.2em;
  margin: 0%;
  letter-spacing: 1px;
}

p {
  font-size: 0.8em;
  margin: 0 0 0.5% 0;
}

.contact {
  display: flexbox;
  margin-top: 25%;
}

.anim-typewriter {
  animation: typewriter 1s steps(50) 1 normal both;
}

.logo {
  margin: 5% 1% 0 0;
}

@media (min-width: 510px) {
  .anim-typewriter {
    animation: typewriter 2s steps(50) 1 normal both;
  }
  h1 {
    font-size: 4em;
    white-space: nowrap;
  }
  h2 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }
  .contact {
    margin-top: 10%;
  }
  .logo {
    margin-top: 1%;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
